<%= form_with model: @hobby, local: true do |f|%>

<%#= render 'shared/error_messages', model: f.object %>

  <%# 商品画像 %>
  <div class="img-upload">
    <div class="form-text">
      投稿画像
      <span class="indispensable">必須</span>
    </div>
    <div class="click-upload">
      <p>
        クリックしてファイルをアップロード
      </p>
      <%= f.file_field :image, id:"item-image" %>
    </div>
  </div>
  <%# /商品画像 %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">趣味の場所</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:where_id, Where.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">区分</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
  </div>  

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">趣味の種類</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :type, class:"input-default", id:"type", placeholder:"例）スカイダイビング"%>
  </div>

  <div class="form-group">

    <div class='form-text-wrap'>
      <label class="form-text">投稿内容の紹介</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :text, class:"input-default", id:"text", placeholder:"例）一年前からやってみたいと思っていたスカイダイビングを始めました。"%>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">費用/月謝</label>
    </div>
    <div class='input-cost-wrap'>
      <%= f.text_field :cost, class:"input-default", id:"cost", placeholder:"例）5000"%><p>円</p>
      <%= f.collection_select(:count_id, Count.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
    </div>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">趣味を行った場所</label>
    </div>
    <div class='input-cost-wrap'>
      <label class="form-text">都道府県
        <%= f.collection_select(:from_id, From.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
      </label>
      <label class="form-text">市区町村
        <%= f.text_field :city, class:"input-default", id:"cost", placeholder:"例）浜松市"%>
      </label>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>